/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        lt_ret: hold_tap_enter {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&kp>;
        };

        lt_esc: hold_tap_esc {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&kp>;
        };

        double_spc_period: double_spc_period {
            compatible = "zmk,behavior-tap-dance";
            label = "DOUBLE_SPC_PERIOD";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&kp PERIOD>, <&period_and_space>;
        };
    };

    combos {
        compatible = "zmk,combos";

        toggle_mac {
            bindings = <&to 3>;
            key-positions = <53 54>;
            layers = <0>;
        };

        toggle_windows {
            bindings = <&to 0>;
            key-positions = <53 54>;
            layers = <3>;
        };
    };

    macros {
        period_and_space: period_and_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp PERIOD &kp SPACE>;
            label = "PERIOD_AND_SPACE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp GRAVE       &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                                          &kp N6     &kp N7     &kp N8     &kp N9   &kp N0    &kp BACKSLASH
&kp TAB         &kp Q   &kp W   &kp E     &kp R     &kp T                                           &kp Y      &kp U      &kp I      &kp O    &kp P     &kp MINUS
&lt_esc 2 ESC   &kp A   &kp S   &kp D     &kp F     &kp G                                           &kp H      &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_SHIFT  &kp Z   &kp X   &kp C     &kp V     &kp B      &kp LBKT              &kp RBKT       &kp N      &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                                &kp LALT  &kp LGUI  &kp LCTRL  &double_spc_period    &lt_ret 1 RET  &kp RCTRL  &kp K_APP  &kp BSPC
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            display-name = "Nav";
            bindings = <
&none   &kp F1     &kp F2            &kp F3           &kp F4             &kp F5                                                  &none                 &none                  &none        &none      &kp KP_MINUS     &none
&none   &kp F6     &kp F7            &kp F8           &kp F9             &kp F10                                                 &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LBKT     &kp RBKT   &kp KP_PLUS      &kp EQUAL
&none   &kp EQUAL  &kp KP_PLUS       &kp KP_DIVIDE    &kp KP_MINUS       &kp F11                                                 &kp LEFT              &kp DOWN               &kp UP       &kp RIGHT  &kp KP_DIVIDE    &kp DEL
&trans  &none      &kp SINGLE_QUOTE  &kp KP_MULTIPLY  &kp DOUBLE_QUOTES  &kp F12  &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp HOME              &kp PAGE_DOWN          &kp PAGE_UP  &kp END    &kp KP_MULTIPLY  &trans
                                     &trans           &trans             &trans   &kp BSPC                &none                  &trans                &trans                 &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            display-name = "NumFunc";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                                                 &none      &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_SUBTRACT  &none
&none       &kp EXCL      &kp AT        &kp HASH      &kp DOLLAR    &kp PRCNT                                                    &kp EQUAL  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS      &kp EQUAL
&none       &kp CARET     &kp AMPS      &kp ASTERISK  &kp TILDE     &kp GRAVE                                                    &none      &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DIVIDE    &kp BSPC
&trans      &none         &kp PIPE      &none         &none         &none         &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &none      &kp KP_NUMBER_0  &kp KP_NUMBER_0  &kp PERIOD       &kp KP_MULTIPLY  &trans
                                        &trans        &trans        &trans        &kp BSPC                &kp DEL                &trans     &trans           &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_3 {
            display-name = "Mac";
            bindings = <
&trans  &trans  &trans  &trans     &trans    &trans                              &trans             &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans    &trans                              &trans             &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans    &trans                              &trans             &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans    &trans            &trans    &trans  &trans             &trans  &trans  &trans  &trans  &trans
                        &kp LCTRL  &kp LALT  &kp LEFT_COMMAND  &trans    &trans  &kp RIGHT_COMMAND  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
